<div>
	<ul>
		<li><a class="active" href="/home?userId={{this.userId}}">Home</a></li>
		<li><a href="/logout">Logout</a></li>
		<li style="float:right" class="siteName">MedCentral</li>
	</ul>
</div>

<h2>Welcome, {{username}}!</h2>

<h3>User Details</h3>
<ul style="list-style: none;" id="user_details_table">
	<li><b>User Id: </b>{{userId}}</li>
	<li><b>Username: </b>{{username}}</li>
</ul>
