<div class="loginText"><h1>MedCentral</h1></div>
<div class="loginText">
	<h3>You have successfully logged out of MedCentral.</h3>
</div>
<br><br>
<div class="loginText">
	<label id="accountPrompt">Log in to MedCentral again?
		<a href="/"><input type="button" class="button" value="Log in to MedCentral"></a>
	</label>
</div>
